apiVersion: v1
kind: Service
metadata:
  name: authservice
  namespace: lab-generic
spec:
  type: NodePort
  selector:
    app: authservice
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30002
